server {
        listen 80 default_server;
        listen [::]:80  default_server;

        root /var/www/html;

        index index.html index.htm index.nginx-debian.html;

        server_name *.example.org;

        location / {
                try_files $uri $uri/ @c2;
        }

        location @c2 {
                proxy_pass http://192.168.50.30;
                proxy_redirect off;
                proxy_ssl_verify off;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
}
